.container {
    //use css grid tomorrow!
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    //justify-content: stretch;
    width: 80%;
    background-color: $third-bgr-color;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
}


.key {
    color: $third-dark-blue;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $first-grey;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.1em;
    box-shadow: 0 0.2rem $second-grey;
    font-size: 2rem;
}

.keyDel {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $first-dark-blue;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.1em;
    font-size: 1rem;
    box-shadow: 0 0.2rem $second-dark-blue;
}

// use repeat wds
.keyReset {
    color: $white;
    background-color: $first-dark-blue;
    box-shadow: 0 0,2em $second-dark-blue;
    border-radius: 0.1em;
    font-size: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    grid-row-start:  5;
    grid-column-start: 1;
}

.keyEquals {
    color: $white;
    background-color: $red;
    box-shadow: 0 0,2em $dark-red;
    border-radius: 0.1em;
    font-size: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    grid-row-start: 5;
    grid-column-start: 3;
}